.loginbtn {
  background: #0076FF;
  border: none;
  color: white;
  padding: 1.5rem 3.2rem;
}
.submitBtn {
  max-width: 100%;
  background: #0076FF;
  border: none;
  color: white;
  padding: 2rem 11.5rem;
}
.loginBtn_mobile {
  max-width: 100%;
  background: #0076FF;
  border: none;
  color: white;
  padding: 2rem 11.5rem;
}
